<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用Vue仿百度搜索联想</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./jquery.js"></script>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="logo">
            <img src="https://www.baidu.com/img/bd_logo1.png?where=super" title="点击一下，了解更多">
        </div>
        <div class="search-box">
            <span class="search-area">
                <input v-model="inputVal" @focus='()=>inputFocus = true' @blur='()=>inputFocus = false' type="text"
                    maxlength='100'>
                <span class="icon icon-paizhao"></span>
            </span>
            <span class="search-btn">百度一下</span>
        </div>
        <ul v-show='inputFocus && searchResList.length' class="search-list">
            <li v-for="res in searchResList" :key="res">{{res}}</li>
        </ul>
    </div>
</body>
<script>

    const vm = new Vue({
        el: '#app',
        data: {
            inputFocus: true,
            inputVal: '',
            searchResList: ''
        },
        methods: {
            searchRes(res) {
                this.searchResList = res.s;
            }
        },
        watch: {
            inputVal() {
                // 每次变化发送请求
                $.ajax({
                    dataType: 'jsonp',
                    url: 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
                    data: {
                        wd: this.inputVal,
                        cb: 'vm.searchRes'
                    }
                })

            }
        }

    })

</script>

</html>